html, body{
    display: grid;
    height: 100%;
    place-items: center;
  }
  .center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .outer{
    margin: 0 50px;

  }
  .circle{
    height: 190px;
    width: 195px;
    border-radius: 50%;
  }
  .outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .outer button{
    font-weight: bold;
    outline: none;
    border:none;
    z-index: 9;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .circle button{
    background: rgb(0, 0, 0);
    color: #ffffff;
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }
  .outer span{
    height: 190px;
    width: 190px; 
    background: inherit;
  } 
  .outer span{
    border-radius: 50%;
  } 
  .outer span:nth-child(1){
    filter: blur(7px);
  }
  .outer span:nth-child(2){
    filter: blur(15px);
  }
  .outer:hover{
    background: linear-gradient(#14ffe9, #42e900, #35ff57);
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
   tr,td{
    border-radius: 5px;
    display: inline-block;
    background: #34D399;
    color: white;
    font-weight: bold;
    margin-top: 5px !important;
  }
  tr{
    padding: 0px 16px 4px 14px;
    margin-left: 5px;
  }
  .header-table{
    /* margin-left: 113px; */
    border-color: linear-gradient( #00e99b, #00e99b, #ffffff);
    animation: animation 2s linear infinite;
    margin: 5px 5px 5px 5px;
  }
  @keyframes animation{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

  .message{
      text-align: center;
      color: rgb(0, 228, 57);
      font-weight: bold;
  }